# Python Solutions

https://youtu.be/UwgX6ECOM9o

In [1]:
# Installs

!pip install yfinance
!pip install pandas-datareader

# Imports

import numpy as np
import pandas as pd
import pandas_datareader.data as web
from statistics import mean

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px

from plotly.subplots import make_subplots
from datetime import datetime

import yfinance as yf
yf.pdr_override()

import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: yfinance in c:\users\thiag\anaconda3\lib\site-packages (0.2.10)
Requirement already satisfied: requests>=2.26 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (2.3.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (38.0.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: html5lib>=1.1 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\thiag\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\thiag\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in c:\users\thiag\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\thiag\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\thiag\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\thiag\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\thiag\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\thiag\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\thiag\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\thiag\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in c:\users\thiag\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: pandas-datareader in c:\users\thiag\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in c:\users\thiag\anaconda3\lib\site-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: lxml in c:\users\thiag\anaconda3\lib\site-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: requests>=2.19.0 in c:\users\thiag\anaconda3\lib\site-packages (from pandas-datareader) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\thiag\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\thiag\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2022.7)
Requirement already satisfied: numpy>=1.18.5 in c:\users\thiag\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.23.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\thiag\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\thiag\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\thiag\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\thiag\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: six>=1.5 in c:\users\thiag\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [2]:
# Data Reading

data = web.get_data_yahoo('PETR4.SA', period='1y')

print(data.shape)
display(data.head())
display(data.tail())
display(data.describe())
data.info()

[*********************100%***********************]  1 of 1 completed
(252, 6)

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-02-08  31.900000  31.950001  31.260000  31.830000  18.601572  62590000
2022-02-09  31.740000  32.689999  31.650000  31.950001  18.671701  50960500
2022-02-10  32.299999  32.900002  31.940001  32.439999  18.958057  49534600
2022-02-11  32.770000  33.910000  32.630001  33.759998  19.729469  88013400
2022-02-14  33.860001  33.939999  32.820000  33.000000  19.285324  55687000

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-02-02  25.510000  25.809999  24.420000  24.520000  24.520000  83823000
2023-02-03  24.540001  25.379999  24.420000  24.790001  24.790001  71170700
2023-02-06  24.870001  25.870001  24.750000  25.780001  25.780001  82794500
2023-02-07  25.910000  26.139999  25.459999  25.620001  25.620001  55311800
2023-02-08   0.000000   0.000000   0.000000  26.049999  26.049999         0

,Open,High,Low,Close,Adj Close,Volume
count,252.000000,252.000000,252.000000,252.000000,252.000000,2.520000e+02
mean,29.879881,30.418571,29.337936,29.996111,23.333845,8.181303e+07
std,4.102099,4.133165,4.053298,3.638080,3.547292,3.706675e+07
min,0.000000,0.000000,0.000000,21.469999,17.537956,0.000000e+00
25%,27.082500,27.592500,26.332500,26.990000,20.002680,5.629405e+07
50%,30.820000,31.389999,30.300000,30.655000,23.106971,7.285520e+07
75%,32.717501,33.507500,32.382501,32.967500,26.054999,9.630120e+07
max,37.650002,38.389999,36.849998,37.720001,33.003029,3.195016e+08

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2022-02-08 to 2023-02-08
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       252 non-null    float64
 1   High       252 non-null    float64
 2   Low        252 non-null    float64
 3   Close      252 non-null    float64
 4   Adj Close  252 non-null    float64
 5   Volume     252 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB